.registerbtn{
color: black;
background-color:yellow;
}
.loginbtn{
    color: yellow;
    background-color:black; 
}
.wholeForm{
    display: flex;
    width: 100%;
    height:100%
    }

    .section1{
     width:50%
    }

    .section2{
        width:50%;
    }

    .centertitle{
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }

   

    .formpadding{
        padding-top:18%;
    } 

    .widthformfield{
        width: 70%;
    }

    .pdngtp{
        padding-top: 24px;
    }

     .padleft{
    float: right;
     }

     .tnxxxwtt{
         cursor: pointer;
     }

     .erroricon{
         position:relative;
     }
     .erroriconarrng{
        position: absolute;
        top: -12px;
        right: 1px;
     }